/node_modules
.env
.env.development
.env.production
event-scout-288c9-firebase-adminsdk.json

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
